.back-link.background {
  padding: $spacing-md 0;
}

.back-link p {
  margin: 0;
  @include type-style('body-short-01');
}

.back-link .icon--arrowLeft {
  margin-right: $spacing-2xs;
  position: relative;
  top: 0;
}

.back-link a:active .icon--arrowLeft {
  color: $ibm-colors__black;
}
