//----------------------------
// Background
//----------------------------
.background--white {
  background: $ibm-colors__white;
}

.background--gray-10 {
  background: $ibm-colors__gray--10;
}

.background--gray-20 {
  background: $ibm-colors__gray--20;
}

.background--black {
  background: $ibm-colors__black;
  color: $ibm-colors__white;
}



.background div[class^="ibm--col-"] {
  outline: 1px dotted red;
  outline-offset: -1px;
  //padding: 4rem 0 8rem 0;
}