//----------------------------
// Background
//----------------------------
.background {
  padding-bottom: rem(32px);
  padding-top: rem(32px);

  @include breakpoint('lg') {
    padding-bottom: rem(80px);
    padding-top: rem(56px);
  }

  &:last-child {
    padding-bottom: rem(128px);
  }
}

.background--nomargin {
  padding-top: rem(32px);
  padding-bottom: 0;

  &:last-child {
    padding-bottom: 0;
    margin-bottom: rem(128px);
  }
}

.page-content > div div.background:first-child {
  padding-top: 2rem;
}

.background--white {
  background: $ibm-colors__white;
}

.background--gray-10 {
  background: $ibm-colors__gray--10;
}

.background--gray-20 {
  background: $ibm-colors__gray--20;
}

.background--gray-80 {
  background: $ibm-colors__gray--80;
  color: $ibm-colors__gray--10;
}

.background--gray-100 {
  background: $ibm-colors__gray--100;
  color: $ibm-colors__gray--10;
}

.background--black {
  background: $ibm-colors__black;
  color: $ibm-colors__gray--10;
}

.background--gray-white {
  padding-bottom: 0;
  margin-top: -3rem;
  background: linear-gradient(
    to bottom,
    $ibm-colors__gray--100 50%,
    $ibm-colors__gray--10 50%
  );
}

// selects all columnns for testing
.background div[class^='ibm--col-'] {
  position: relative;
  //outline: 1px dotted red;
  //outline-offset: -1px;
  //padding: 4rem 0 8rem 0;
}

//----------------------------
// Columns
//----------------------------
.ibm--col-right {
  text-align: right;
}

.container .ibm--col-border {
  position: relative;
  border-top: 1px solid $ui-04;
  margin: 0 1rem;
  padding-bottom: rem(120px);
  padding-top: 2rem;
  padding-left: 0;

  @include breakpoint('lg') {
    margin: 0;
    padding-top: 0;
    padding-left: 1rem;
    border-top: 0;
    border-left: 1px solid $ui-04;
    padding-bottom: rem(112px);
  }

  .page-p,
  .page-h3 {
    padding-right: 10%;
  }

  img[src*='svg'] {
    position: absolute;
    bottom: 2rem;
    left: 0;
    width: 48px;
    height: auto;

    @include breakpoint('lg') {
      bottom: 0;
      left: 1rem;
    }
  }
}

.container .ibm--col-border.ibm--col-lg-4.ibm--offset-lg-4 {
  @include breakpoint('lg') {
    margin-left: 25%;
  }
}
