//----------------------------
// Background
//----------------------------
.background {
  padding-bottom: rem(80px);
  padding-top: 2rem;
}

.background:last-child {
  padding-bottom: rem(128px);
}

.background--white {
  background: $ibm-colors__white;
}

.background--gray-10 {
  background: $ibm-colors__gray--10;
}

.background--gray-20 {
  background: $ibm-colors__gray--20;
}

.background--gray-80 {
  background: $ibm-colors__gray--80;
  color: $ibm-colors__white;
}

.background--gray-100 {
  background: $ibm-colors__gray--100;
  color: $ibm-colors__white;
}

.background--black {
  background: $ibm-colors__black;
  background: #252525;
  color: $ibm-colors__white;
}

.background--black-white {
  margin-top: -3rem;
  background: linear-gradient(to bottom, $ibm-colors__black 50%, $ibm-colors__white 50%);
}

// selects all columnns for testing
.background div[class^="ibm--col-"] {
  position: relative;
  //outline: 1px dotted red;
  //outline-offset: -1px;
  //padding: 4rem 0 8rem 0;
}