//----------------------------
// Anchor Link
//----------------------------

.anchor-links {
  padding-left: 1.5rem;
  margin-top: rem(3px);

  .page-ul > li {
    @include type-style('heading-03');
    width: auto;
    list-style: none;
    margin-left: -1.5rem;
    padding-left: 0;
    display: flex;
    align-items: center;

    &:before {
      display: none;
    }

    a {
      @include type-style('heading-03');
      position: relative;
      display: inline-block;
      transition: color $transition--base;
      color: $ibm-colors__gray-20;
      text-decoration: none;
      margin-bottom: rem(4px);

      &:hover {
        color: $ibm-colors__gray-10;
        text-decoration: none;

        &::before {
          color: $ibm-colors__gray-10;
        }
      }

      &:before {
        content: '\21B3'; //"↳"
        font-family: 'IBM Plex Sans', 'ibm-plex-sans', 'Helvetica Neue', Arial,
          sans-serif;
        color: $ibm-colors__gray-20;
        transition: color $transition--base;
        padding-right: rem(16px);
        cursor: pointer;
      }
    }
  }
}

//----------------------------
// Anchor Links inside TitleBlock
//----------------------------
.title-block .anchor-links {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 0;

  @include breakpoint('lg') {
    position: absolute;
    left: auto;
    right: 0;
    bottom: rem(41px);
    width: 25%;
    padding: 0;
  }
}
