//----------------------------
// Anchor Link
//----------------------------

.anchor-links {
  @include breakpoint('sm') {
    padding: $spacing-md 0 $spacing-xs 0;
  }

  @include breakpoint('lg') {
    position: absolute;
    bottom: 6rem;
    left: 0;
  }

  .page-ul {
    position: relative;
    margin-bottom: 0;
  }

  .page-ul > li {
    @include type-style('body-short-02');
    list-style: none;
    cursor: pointer;
    padding-bottom: $spacing-3xs;
    color: $ibm-colors__white;

    &:before {
      content: '\21B3'; //"↳"
      position: absolute;
      left: -1rem;
      cursor: pointer;
    }

    a {
      @include type-style('body-short-02');
      color: $ibm-colors__white;
      text-decoration: none;

      &:hover {
        box-shadow: 0 1px currentColor;
      }

      &:focus {
        box-shadow: 0 3px currentColor;
      }
    }

    &:hover {
      a,
      &:before {
        color: $ibm-colors__white;
      }
    }
  }
}

//----------------------------
// Anchor Links inside TitleBlock
//----------------------------
.title-block .anchor-links {
  @include breakpoint('md') {
    position: absolute; 
    left: auto;
    right: rem(20px);
    bottom: 2rem;
    width: 25%;
    padding: 0;
  }

  @include breakpoint('lg') {
    bottom: 4rem;
  }
}