//---------------------------------------
// Carbon Components
//---------------------------------------

@import '@carbon/type/scss/type';
@import '@carbon/type/scss/font-face/sans';
@import '@carbon/type/scss/font-face/serif';
@import '@carbon/type/scss/font-face/mono';
@import '@carbon/type/scss/classes';

@include type-reset();
@include type-classes();

$feature-flags: (
  components-x: true,
  ui-shell: true,
);
@import '@carbon/layout/scss/layout.scss';
.container {
  //need this to avoid conflicts with old grid code
  $prefix: 'ibm';
  $imported-modules-local: ();
  @import '@carbon/grid/scss/grid.scss';
}
@import '@carbon/grid/scss/aspect-ratio.scss';

@import 'carbon-components/scss/globals/scss/styles.scss';
@import '@carbon/addons-website/scss/styles';

//---------------------------------------
// Page styles
//---------------------------------------

@import 'page';

//---------------------------------------
// Components
//---------------------------------------
@import '../components/Grid/grid.scss';
@import '../components/404/404.scss';
@import '../components/Markdown/markdown.scss';
@import '../components/AnchorLinks/anchor-links.scss';
@import '../components/PageTable/page-table.scss';
@import '../components/BackToTop/back-to-top.scss';
@import '../components/TitleBlock/title-block.scss';
@import '../components/Icon/icon.scss';
@import '../components/Tile/tile.scss';
@import '../components/SiteHeader/header.scss';
@import '../components/Carousel/carousel.scss';

//---------------------------------------
// External
//---------------------------------------
@import './animate.css/animate';

//remove this when updating add-on footer component
.bx--website-footer__content.ibm--col-lg-5.ibm--col-md-4.ibm--offset-lg-2 {
  @include breakpoint('lg') {
    margin-left: 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
}
