//---------------------------------------
// Carbon Components
//---------------------------------------

@import '@carbon/type/scss/type';
@import '@carbon/type/scss/font-face/sans';
@import '@carbon/type/scss/font-face/serif';
@import '@carbon/type/scss/font-face/mono';
@import '@carbon/type/scss/classes';

@include type-reset();
@include type-classes();

$feature-flags: (
  components-x: true,
  ui-shell: true,
);
@import '@carbon/layout/scss/layout.scss';
.container {
  //need this to avoid conflicts with old grid code
  $prefix: 'ibm';
  $imported-modules-local: ();
  @import '@carbon/grid/scss/grid.scss';
}
@import '@carbon/grid/scss/aspect-ratio.scss';

@import 'carbon-components/scss/globals/scss/styles.scss';

$font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;

// temp grid fix
.container .ibm--offset-lg-0 {
  @include breakpoint('lg') {
    margin-left: 0;
  }
}

//---------------------------------------
// Page styles
//---------------------------------------

@import 'page';
@import '../content/practices/design-for-sustainability/dfs.scss';

//---------------------------------------
// Add-on Components
//---------------------------------------

@import '@carbon/addons-website/scss/components/404';
@import '@carbon/addons-website/scss/components/website-footer';
@import '@carbon/addons-website/scss/components/website-header';
@import '@carbon/addons-website/scss/components/website-header-nav';
@import '@carbon/addons-website/scss/components/website-side-nav';

//---------------------------------------
// Components
//---------------------------------------
@import '../components/Grid/grid.scss';
@import '../components/404/404.scss';
@import '../components/Markdown/markdown.scss';
@import '../components/AnchorLinks/anchor-links.scss';
@import '../components/PageTable/page-table.scss';
@import '../components/BackToTop/back-to-top.scss';
@import '../components/TitleBlock/title-block.scss';
@import '../components/Icon/icon.scss';
@import '../components/WebsiteTile/website-tile.scss';
@import '../components/SiteHeader/header.scss';
@import '../components/SiteHeader/website-switcher.scss';
@import '../components/Video/video.scss';
@import '../components/Carousel/carousel.scss';
@import '../components/BackLink/back-link.scss';
@import '../components/Community/community.scss';

//---------------------------------------
// External
//---------------------------------------
@import './animate.css/animate';

//remove this when updating add-on footer component
.bx--website-footer__content.ibm--col-lg-5.ibm--col-md-4.ibm--offset-lg-2 {
  @include breakpoint('lg') {
    margin-left: 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
}
