//----------------------------
// Tile background
//----------------------------
.background--tile {
  padding-top: rem(64px);
  padding-bottom: 0;
  margin-bottom: 1rem;

  &:last-child {
    padding-bottom: 0;
    margin-bottom: rem(128px);
  }
}

.background--tile .tile {
  margin-bottom: 0;
  margin-left: 0;

  @include breakpoint('lg') {
    height: 496px;
  }
}

//----------------------------
// Tile
//----------------------------

.tile {
  margin-bottom: 1rem;
  position: relative;

  @include breakpoint('md') {
    margin-left: -1rem;
  }
}

a.bx--tile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  color: $text-01;
  padding: $spacing-md;
  position: relative;
  background: $ibm-colors__white;
  z-index: 1;

  &:hover {
    background: $ibm-colors__gray--20;
  }
}

.tile__title {
  @include type-style('heading-03');
  display: block;
  width: 100%;
  text-decoration: none;
  color: $text-01;
  margin: 0 0 $spacing-xs 0;
  padding: 0 9% 0 0;
}

.tile__caption {
  color: $ibm-colors__gray--60;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
}

.tile__link-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20px;
  height: 20px;
}

.tile__img {
  width: 100%;
  height: 0;
  position: relative;
  padding-bottom: 100%;
  overflow: hidden;

  @include breakpoint('md') {
    height: auto;
    padding-bottom: 0;
  }
}

.tile__img .gatsby-resp-image-wrapper {
  position: absolute !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;

  @include breakpoint('md') {
    position: relative !important;
  }
}

.tile__img .gatsby-resp-image-image {
  max-width: unset;
  height: 100%;
  width: auto !important;

  @include breakpoint('md') {
    max-width: 100%;
    width: 100% !important;
  }
}

// Dark
a.bx--tile--clickable--dark {
  background: $ibm-colors__gray--90;
  color: $ibm-colors__gray--10;
}

a.bx--tile--clickable--dark:hover {
  background: $ibm-colors__gray--80;
}

a.bx--tile--clickable--dark .tile__title,
a.bx--tile--clickable--dark .tile__caption {
  color: $ibm-colors__gray--10;
}

a.bx--tile--clickable--dark .tile__link-icon svg {
  fill: $ibm-colors__white;
}

.tile__text--dark.tile__description,
.tile__text--dark.tile__title,
.tile__text--dark.tile__title--secondary {
  color: $ibm-colors__gray--90;
}

//----------------------------
// Tile inside 4
//----------------------------
/* .ibm--col-lg-4 .tile {
  margin-bottom: 1rem;
} */

//----------------------------
// Tile inside 12 or 16
//----------------------------

.ibm--col-lg-8,
.ibm--col-lg-12,
.ibm--col-lg-16 {
  .tile {
    @include breakpoint('md') {
      margin-right: -1rem;
    }

    @include breakpoint('lg') {
      margin-right: 0;
    }
  }

  a.bx--tile {
    @include breakpoint('md') {
      position: absolute;
      bottom: 0;
      right: 1rem;
      width: calc(50% - 1rem);
    }

    @include breakpoint('lg') {
      right: 0;
    }
  }
}

.ibm--col-lg-8 {
  @include breakpoint('lg') {
    a.bx--tile {
      width: 47.5%;
    }
  }
}

.ibm--col-lg-12 {
  @include breakpoint('lg') {
    a.bx--tile {
      width: 32%;
    }
  }
}

.ibm--col-lg-16 {
  @include breakpoint('lg') {
    a.bx--tile {
      width: calc(25% - 2rem);
    }
  }
}

//----------------------------
// Tile feature
//----------------------------
.ibm--grid .tile.tile--feature {
  margin-bottom: rem(32px);

  @include breakpoint('md') {
    margin-left: -2rem;
    margin-right: -2rem;
    display: flex;
    flex-direction: row-reverse;
  }
}

.tile__feature-content {
  padding: 1rem 1rem 4rem 1rem;

  @include breakpoint('md') {
    width: 50%;
    padding-right: 12%;
    padding-bottom: 1rem;
  }

  @include breakpoint('lg') {
    padding-right: 25%;
  }
}

.tile__feature-img {
  width: 100%;

  @include breakpoint('md') {
    width: 50%;
  }
}

.tile--feature a.bx--tile {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;

  @include breakpoint('md') {
    right: 1rem;
    width: calc(50% - 1rem);
  }

  @include breakpoint('lg') {
    width: calc(25% - 1rem);
  }
}
