//----------------------------
// Tile
//----------------------------
.tile--bleed .ibm--grid {
  position: relative;
}

a.bx--tile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  color: $text-01;
  padding: $spacing-md;
  position: relative;
  background: $ibm-colors__white;

  &:hover {
    background: $ibm-colors__gray--20;
  }
}

.tile__info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.tile__name {
  display: block;
  width: 100%;
  text-decoration: none;
  color: $text-01;
  margin: 0 0 $spacing-xs 0;
  padding: 0 0 0 0;
}

.tile__caption {
  color: $ibm-colors__gray--60;
  display: block;
  margin-top: auto;
}

.tile__link-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20px;
  height: 20px;
}

// large title used in large and medium tiles
.tile__title {
  color: $ibm-colors__white;
  font-weight: 600;
}

.tile__title--secondary {
  font-weight: 400;
  color: $ibm-colors__white;
  margin-bottom: rem(20px);
}

.tile__description {
  @include type-style('body-short-02');
  color: $ibm-colors__white;
}

// Dark
a.bx--tile--clickable--dark {
  background: $ibm-colors__gray--90;
  color: $ibm-colors__white;
}

a.bx--tile--clickable--dark:hover {
  background: $ibm-colors__gray--80;
}

a.bx--tile--clickable--dark .tile__name,
a.bx--tile--clickable--dark .tile__caption {
  color: $ibm-colors__white;
}

a.bx--tile--clickable--dark .tile__link-icon svg {
  fill: $ibm-colors__white;
}

.tile__text--dark.tile__description,
.tile__text--dark.tile__title,
.tile__text--dark.tile__title--secondary {
  color: $ibm-colors__gray--90;
}

//changes ArrowUpRight20 to 16x16
.tile--arrow-upright {
  padding: rem(2px);
}

// Overrides
.tile__img .gatsby-resp-image-wrapper {
  max-width: 100% !important;
}

.tile__img .gatsby-resp-image-wrapper {
  max-width: 100% !important;
}

//----------------------------
// Small Tile
//----------------------------
.tile--sm {
  display: flex;
  flex-direction: column;
  margin-left: -1rem;
  margin-right: -1rem;

  @include breakpoint('md') {
    margin-right: -15px;
  }
  @include breakpoint('lg') {
    margin-right: 0px;
  }
}

.tile__img {
  width: 100%;
  height: auto;
}

.tile--sm a.bx--tile {
  width: 100%;
}

.tile--optional .tile__info > h5:before {
  height: 2.25rem;
}

.tile--optional .tile__info h5 {
  max-width: rem(190px);
}

//----------------------------
// Medium Tile
//----------------------------
.tile--md .bx--tile {
  position: absolute;
  right: rem(16px);
  bottom: 0;
  width: 25%;
}

.tile__img {
  padding: 0;
  margin-left: -2rem;
  width: calc(50% + 2rem);
}

.tile--md .tile__text-container {
  width: calc(50% + 1rem);
  margin-right: -1rem;
  position: relative;
  color: $ibm-colors__white;
  background: $ibm-colors__black;
}

.tile--md .tile__title {
  margin: rem(16px);
  font-weight: 400;
  padding-right: 25%;
}

//----------------------------
// Large Tile
//----------------------------
.tile--lg {
  position: relative;
  justify-content: space-between;
}

.tile--lg .tile__img {
  margin: auto;
  width: 75%;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.tile--lg .bx--tile {
  right: 0;
  bottom: 0;
  position: absolute;
  width: 33%;
}

//----------------------------
// XL Tile
//----------------------------

.tile--xl {
  margin-bottom: rem(30px);
}

.tile--xl,
.tile--xl .ibm--grid,
.tile--xl .ibm--row {
  min-height: 550px;
}

.tile--xl a.bx--tile {
  bottom: 0;
  position: absolute;

  @include breakpoint('lg') {
    right: 1rem;
  }
}

.tile--xl .tile__text-container {
  padding-top: rem(64px);
}

.tile--xl .bx--tile {
  right: 0;
  bottom: 0;
  position: absolute;
  width: 25%;
}

.tile--xl .tile__img {
  height: 100%;

  img {
    position: relative;
    right: -48px;
    height: 100%;
  }
}
