.icon--inline {
  display: inline;
  vertical-align: middle;
  position: relative;
  top: 1px;
}

.icon--inline.up-right {
  position: relative;
  top: rem(3px);
}

.icon--right {
  display: flex;
  justify-content: flex-end;
}

.icon--inline.left {
  position: relative;
  top: rem(3px);
}

.icon--blue {
  & > svg {
    fill: $brand-01;
  }
}

.background--inverse .icon--blue {
  & > svg {
    fill: $ibm-colors__blue-40;
  }
}

.icon--white {
  & > svg {
    fill: $ibm-colors__white;
  }
}

.icon--upright24 {
  padding: rem(2px);
}

.icon--arrowDown {
  font-size: 32px;
  font-weight: 300;
}
