//----------------------------
// Tile background
//----------------------------
.background--tile {
  padding-top: rem(64px);
  padding-bottom: 0;
  margin-bottom: 1rem;

  &:last-child {
    padding-bottom: 0;
    margin-bottom: rem(128px);
  }
}

.background--tile .tile {
  margin-bottom: 0;
  margin-left: 0;

  @include breakpoint('lg') {
    height: 496px;
  }
}

.background--tile h2 {
  font-weight: 600;
  margin-bottom: 0;
}

//----------------------------
// Tile
//----------------------------

.tile {
  margin-bottom: 1rem;
  position: relative;

  @include breakpoint('md') {
    margin-left: -1rem;
  }
}

.tile a,
a.tile {
  text-decoration: none;
}

.bx--tile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  color: $text-01;
  position: relative;
  background: $ibm-colors__white;
  z-index: 1;
  padding: 0; //needs to stay zero for aspect ratio to be correct
  transition: $transition--base;
}

a:hover .bx--tile {
  background: $ui-03;
}

.bx--tile .bx--aspect-ratio--object {
  padding: $spacing-md 30% $spacing-md $spacing-md;

  @include breakpoint('lg') {
    padding-right: $spacing-md;
  }

  @include breakpoint('xlg') {
    padding-right: 30%;
  }
}

.tile__title {
  @include type-style('heading-03');
  display: block;
  width: 100%;
  text-decoration: none;
  color: $text-01;
  margin: 0 0 $spacing-xs 0;
  padding: 0 9% 0 0;
}

.tile__title--small {
  @include type-style('body-short-02');
}

.tile__caption {
  @include type-style('body-short-01');
  color: $text-02;
  display: block;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

.tile__link-icon {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  width: 20px;
  height: 20px;
}

.tile__img {
  width: 100%;
  height: 0;
  position: relative;
  padding-bottom: 100%;
  overflow: hidden;
  z-index: 1;

  @include breakpoint('md') {
    height: auto;
    padding-bottom: 0;
  }
}

.tile__img .gatsby-resp-image-wrapper {
  position: absolute !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  margin-bottom: 0;
  margin-top: 0;

  @include breakpoint('md') {
    position: relative !important;
  }
}

.tile__img .gatsby-resp-image-image {
  max-width: unset;
  height: 100%;
  width: auto !important;
  left: auto !important;
  right: 0;

  @include breakpoint('md') {
    max-width: 100%;
    width: 100% !important;
  }
}

// Dark
.bx--tile--dark {
  background: $ibm-colors__gray-90;
  color: $ibm-colors__gray-10;
}

a:hover .bx--tile--dark {
  background: $ibm-colors__gray-80;
}

.bx--tile--dark .tile__title,
.bx--tile--dark .tile__caption {
  color: $ibm-colors__gray-10;
}

.bx--tile--dark .tile__link-icon svg {
  fill: $ibm-colors__white;
}

.tile__text--dark.tile__description,
.tile__text--dark.tile__title,
.tile__text--dark.tile__title--secondary {
  color: $ibm-colors__gray-90;
}

//----------------------------
// Tile inside 4
//----------------------------
/* .ibm--col-lg-4 .tile {
  margin-bottom: 1rem;
} */

//----------------------------
// Tile inside 12 or 16
//----------------------------
// practices page, adds extra space above large tiles when there is no content to the left
.ibm--col-lg-12.ibm--offset-lg-4 .tile {
  @include breakpoint('lg') {
    margin-top: rem(40px);
  }
}

.ibm--col-lg-8,
.ibm--col-lg-12,
.ibm--col-lg-16 {
  .tile {
    @include breakpoint('md') {
      margin-right: -1rem;
    }

    @include breakpoint('lg') {
      margin-right: 0;
    }
  }

  .bx--tile {
    @include breakpoint('md') {
      position: absolute;
      bottom: 0;
      right: 1rem;
      width: calc(50% - 1rem);
    }

    @include breakpoint('lg') {
      right: 0;
    }
  }
}

.ibm--col-lg-8 {
  @include breakpoint('lg') {
    .bx--tile {
      width: 47.5%;
    }
  }
}

.ibm--col-lg-12 {
  @include breakpoint('lg') {
    .bx--tile {
      width: 32%;
    }
  }
}

.ibm--col-lg-16 {
  @include breakpoint('lg') {
    .bx--tile {
      width: calc(25% - 2rem);
    }
  }
}

//----------------------------
// Tile feature
//----------------------------
.ibm--grid .tile.tile--feature {
  margin-bottom: rem(32px);
  margin-left: -1rem;
  margin-right: -1rem;

  @include breakpoint('md') {
    display: flex;
    flex-direction: row-reverse;
    margin-left: -2rem;
    margin-right: -2rem;
  }
}

.tile__feature-content {
  @include breakpoint('md') {
    padding: 1rem 12% 1rem 1rem;
    width: 50%;
  }

  @include breakpoint('lg') {
    padding-right: 12.5%;
  }
}

.tile--feature h2.bx--type-expressive-heading-05 {
  padding: 1rem 1rem 0 1rem;
  color: $text-01;
  font-weight: 300;

  @include breakpoint('md') {
    padding: 0;
  }

  // Expressive paragraph 01 at tablet and below, responsive type includes are breaking
  @media (max-width: 66rem) {
    line-height: 125%;
    letter-spacing: 0;
    font-size: calc(1.5rem + 0.25 * ((100vw - 20rem) / 46));
  }
}

.tile--feature .background--inverse h2.bx--type-expressive-heading-05 {
  color: $ibm-colors__gray-10;
}

.tile__feature-img {
  width: 100%;

  @include breakpoint('md') {
    width: 50%;
  }
}

.tile__feature-img .gatsby-resp-image-wrapper,
.tile__feature-img img {
  margin-bottom: 0;
  margin-top: 0;
}

.tile--feature .bx--tile {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;

  @include breakpoint('md') {
    right: 1rem;
    width: calc(50% - 1rem);
  }

  @include breakpoint('lg') {
    width: calc(25% - 8px);
  }
}

.tile--feature .bx--aspect-ratio--2x1 {
  padding-bottom: 100%;

  @include breakpoint('md') {
    padding-bottom: 50%;
  }
}

//----------------------------
// Tile feature alt
//----------------------------
.tile-grid:last-child {
  @include breakpoint('md') {
    margin-bottom: rem(80px);
  }
}

.tile.tile--feature--alt {
  margin-left: -1rem;
  margin-right: -1rem;
  margin-bottom: 0;

  @include breakpoint('md') {
    margin-bottom: 1rem;
  }
}

.tile--feature--alt .tile_background {
  height: 500px;

  @include breakpoint('md') {
    display: flex;
    height: 400px;
  }

  @include breakpoint('lg') {
    height: 560px;
  }
}

.tile--feature--alt h2 {
  margin-bottom: 1.5rem;
  color: $text-01;
}

.tile--feature--alt .background--inverse h2 {
  color: $ibm-colors__gray-10;
}

.tile--feature--alt h2 strong {
  display: block;
  padding-top: 2rem;

  @include breakpoint('lg') {
    padding-top: 4rem;
  }
}

.tile--feature--alt .tile__feature-img {
  width: 100%;
  height: 60%;
  display: flex;
  padding-right: 0;

  @include breakpoint('md') {
    height: 100%;
    flex-direction: row-reverse;
  }

  img {
    margin: auto;
    width: 90%;

    @include breakpoint('md') {
      margin-right: 2rem;
      margin-left: 0;
      width: 100%;
    }
  }
}

.tile--feature--alt .bx--tile {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;

  @include breakpoint('lg') {
    width: 25%;
  }
}

.tile--feature--alt .bx--aspect-ratio--2x1 {
  padding-bottom: 100%;

  @include breakpoint('md') {
    padding-bottom: 50%;
  }
}

.tile__img img {
  max-width: unset;
  height: 100%;
  width: auto !important;
}
