.title-block {
  position: relative;
  height: 50vh;
  height: 100vh;
  background: green;

  @include breakpoint('md') {
    min-height: 540px;
  }

  @include breakpoint('lg') {
    min-height: 640px;
  }
}

.title-block .ibm--grid {
  height: 100%;
}

.title-block .ibm--row {
  height: 100%;
}

.title-block .eye-bee-m {
  height: 72px;
  width: 30px;
  margin-bottom: 2rem;
  margin-left: rem(8px);
}

.title-block__content {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.title-block__text {
  @include type-style('display-03');
  font-weight: 300;
  font-size: calc(36px + 56 * ((100vw - 320px) / 1264));
  padding-bottom: 1.5rem;

  @include breakpoint('lg') {
    padding-bottom: 2rem;
  }

  span {
    display: block;
    color: $ibm-colors__blue-50;
  }
}
