.title-block {
  position: relative;
  height: calc(100vh - 48px);
  min-height: 470px;

  @include breakpoint('sm') {
  }

  @include breakpoint('md') {
    min-height: 540px;
  }

  @include breakpoint('lg') {
    min-height: 640px;
  }
}

.title-block .ibm--grid {
  height: 100%;
}

.title-block .ibm--row {
  height: 100%;
}

.title-block .eye-bee-m {
  height: 67px;
  width: 28px;
  margin-bottom: 2rem;
}

.title-block__content {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.title-block__text {
  @include type-style('display-03');
  font-size: calc(36px + 56 * ((100vw - 320px) / 1264));

  @include breakpoint('sm') {
    //padding-bottom: 1rem;
  }

  @include breakpoint('md') {
    //padding-bottom: 2rem;
  }

  @include breakpoint('lg') {
    padding-bottom: 2rem;
  }

  span {
    display: block;
    color: $ibm-colors__blue--50;
  }
}
