.title-block {
    height: calc(100vh - 48px);
}

.title-block .ibm--grid {
    height: 100%;
    outline: 1px dotted white;
    }

.title-block .ibm--row {
    height: 100%;
}

.title-block__content {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.title-block__text {
    @include type-style('display-03');
    

    @include breakpoint('sm') {
        padding-bottom: 1rem;
    }

    @include breakpoint('lg') {
        padding-bottom: 4rem;
    }
    
    span {
        display: block;
        color: $ibm-colors__blue--50; 
    }

    font-size: calc(36px + 56 * ((100vw - 320px) / 1264));
/*
    @include breakpoint('sm') {
        font-size: 36px;
        outline-color: red;
    }

    @include breakpoint('md') {
        font-size: 76px;
        outline-color: orange;
    }

    @include breakpoint('lg') {
        font-size: 84px;
        outline-color: yellow;
    }

    @include breakpoint('xlg') {
        font-size: 92px;
        outline-color: green;
    }

    @include breakpoint('max') {
        font-size: 92px;
    }
    */
}
