//----------------------------
// Paragraphs
//----------------------------
.page-p { 
  @include type-style('body-long-02');
  padding: 3rem 0 $spacing-lg;
  color: $text-02;
}

.page-p--md { //md
  @include type-style('heading-03');
}

.page-p--lg { //lg
  padding: 3rem 0 6rem 0;
  //replace with type token
  font-size: rem(28px); 
  line-height: 1.125;
}

.page-p--xl { //xl
  @include type-style('expressive-heading-05');
  font-size: rem(42px);
  line-height: 120%;
  font-weight: 400;
  padding-bottom: 6rem;
}

.background--black .page-p {
  color: $ibm-colors__white;
}

//----------------------------
// h2
//----------------------------

.page-h2 {
  @include type-style('expressive-heading-05');
  font-size: rem(42px);
  line-height: 120%;
  font-weight: 400;
  color: $ibm-colors__blue--60;
  padding-top: 3rem;
  padding-right: 25%;
}

//----------------------------
// h3
//----------------------------

.page-h3 {
  @include type-style('heading-03');
  color: $text-01;
  padding-top: 3rem;
}

//----------------------------
// h4
//----------------------------

.page-h4 {
  @include type-style('heading-02');
  color: $text-01;
}

//----------------------------
// h5
//----------------------------

.page-h5 {

}

//----------------------------
// ul / ol
//----------------------------

.page-ul,
.page-ol {
  margin: 0 0 6rem $spacing-lg;
  position: relative;
}

.page-ul > li {
  @include type-style('body-long-02');
  padding-left: 0.25rem;
  list-style-type: none;

  &:before {
    content: '\2013';
    position: absolute;
    left: -1rem;
  }
}

.page-ol > li {
  @include type-style('body-long-02');
  padding-left: 0.25rem;
  list-style-type: decimal;
}

//----------------------------
// Blockquote
//----------------------------
blockquote:first-child {
  margin-top: 3rem;
  padding-top: 1rem;
  position: relative;

  &:before {
    content: '';
    display: block;
    width: 40%;
    height: 1px;
    background: $ibm-colors__gray--40;
    position: absolute;
    top: -8px;
    left: -15%;
  }
}

blockquote .page-p {
  @include type-style('body-long-02');
  font-style: italic;
  padding: 0 0 1rem 0;
}

.background--black blockquote .page-p {
  color: $ibm-colors__gray--40;
}


//----------------------------
// HR
//----------------------------
hr {
  margin: 4rem rem(32px) 0;
  border-top: 1px solid $ibm-colors__gray--80;
}