//----------------------------
// Paragraphs
//----------------------------
.page-p:empty {
  padding: 0;
}

.page-p { //md default
  @include type-style('body-short-02');
  color: $text-01;
}

.page-p--sm { 
  @include type-style('body-short-01');
}

.page-p--md { //md default
  @include type-style('body-short-02');
}

.page-p--lg { //lg
  @include type-style('heading-03');
}

.page-p--xl { //xl
  // using exspressive heading 04
  color: $ibm-colors__gray--100;
  font-weight: 300;
}

.background--black .page-p,
.background--gray-100 .page-p,
.background--black .page-p--xl,
.background--gray-100 .page-p--xl {
  color: $ibm-colors__white;
}

// Paragraph immediatly following title block. Removes top padding
.title-block + .background > div > div > div .page-p--lg {
  padding-top: 0;
}

//----------------------------
// h2
//----------------------------

.page-h2 {
  //@include type-style('expressive-heading-05');
  color: $text-01;
}

.background--black .page-h2,
.background--gray-100 .page-h2 {
  color: $ibm-colors__white;
}

//----------------------------
// h3
//----------------------------

.page-h3 {
  @include type-style('heading-03');
  color: $text-01;
}

.background--black .page-h3,
.background--gray-100 .page-h3 {
  color: $ibm-colors__white;
}

//----------------------------
// h4
//----------------------------

.page-h4 {
  @include type-style('heading-02');
  color: $text-01;
}

.background--black .page-h4,
.background--gray-100 .page-h4 {
  color: $ibm-colors__white;
}

//----------------------------
// ul / ol
//----------------------------

.page-ul,
.page-ol {
  margin: 0 0 6rem $spacing-lg;
  position: relative;
}

.page-ul > li {
  @include type-style('body-long-02');
  padding-left: 0.25rem;
  list-style-type: none;

  &:before {
    content: '\2013';
    position: absolute;
    left: -1rem;
  }
}

.page-ol {
  margin-bottom: 1.5rem;
}

.page-ol > li {
  @include type-style('body-long-02');
  padding-left: 0.25rem;
  padding-bottom: 1rem;
  list-style-type: decimal;
}

.background--black .page-ul > li,
.background--gray-100 .page-ul > li,
.background--black .page-ol > li,
.background--gray-100 .page-ol > li {
  color: $ibm-colors__white;
}

//----------------------------
// Blockquote
//----------------------------
blockquote {

}

blockquote:first-child {
  position: relative;
  margin-top: -6px;

  &:before {
    content: '';
    display: block;
    width: 35%;
    height: 1px;
    background: $ibm-colors__gray--40;
    position: absolute;
    top: -24px;
    left: -2rem;
  }
}

blockquote .page-p {
  @include type-style('body-long-02');
  padding: 0 0 1rem 0;
}

blockquote em {
  font-style: italic;
}

.background--black blockquote .page-p,
.background--gray-100 blockquote .page-p {
  color: $ibm-colors__gray--40;
}

.background .ibm--col-lg-8 blockquote .page-p {
  @include type-style('heading-03');
  padding-top: 0;
  padding-left: 8%;
  padding-bottom: 1rem;
  margin-left: 0;
  color: $ibm-colors__blue--60;
} 


//----------------------------
// HR
//----------------------------
hr {
  border: none;
  border-top: 1px solid $ibm-colors__gray--50;
  margin-left: -4px;
  margin-right: -4px;
  margin-top: -2rem;
  margin-bottom: 2rem;
}

.background--black blockquote hr,
.background--gray-100 blockquote hr {
  border-color: $ibm-colors__white;
}