//----------------------------
// Paragraphs
//----------------------------
.page-p:empty {
  padding: 0;
  margin: 0;
}

.page-p {
  //md default
  @include type-style('body-short-02');
  color: $text-01;
  margin-bottom: 1.5rem;
  padding-right: 9%;
}

.page-p--sm {
  @include type-style('body-short-01');
}

.page-p--md {
  //md default
  @include type-style('body-short-02');
}

.page-p--lg {
  //lg
  @include type-style('heading-03');
}

.page-p--xl {
  //xl
  color: $ibm-colors__gray-100;
  font-weight: 300;
  margin-bottom: 1.5rem;
  padding-top: 0.5rem;
}

.background--inverse .page-p,
.background--inverse .page-p--xl {
  color: $ibm-colors__gray-10;
}

// Paragraph immediatly following title block. Removes top padding
.title-block + .background > div > div > div .page-p--lg {
  padding-top: 0;
}

//----------------------------
// h2
//----------------------------

.page-h2 {
  font-family: 'IBM Plex Sans', 'ibm-plex-sans', 'Helvetica Neue', Arial,
    sans-serif;
  color: $text-01;
  margin-bottom: 1.5rem;
  padding-right: 9%;
  font-weight: 300;
}

.background--inverse .page-h2 {
  color: $ibm-colors__gray-10;
}

//----------------------------
// h3
//----------------------------

.page-h3 {
  @include type-style('heading-03');
  color: $text-01;
  margin-bottom: 1rem;
  padding-right: 9%;

  @include breakpoint('md') {
    margin-bottom: 1.5rem;
  }
}

.background--inverse .page-h3 {
  color: $ibm-colors__gray-10;
}

//----------------------------
// h4
//----------------------------

.page-h4 {
  @include type-style('heading-02');
  color: $text-01;
  margin-bottom: 1.5rem;
  padding-right: 9%;
}

.background--inverse .page-h4 {
  color: $ibm-colors__gray-10;
}

.page-h2,
.page-h3 {
  &:before {
    display: block;
    content: ' ';
    margin-top: -5rem;
    padding-bottom: 5rem;
    visibility: hidden;
    pointer-events: none;
  }
}

//----------------------------
// h5
//----------------------------

h5 {
  @include type-style('heading-02');
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

//----------------------------
// ul / ol
//----------------------------

.page-ul,
.page-ol {
  // margin: 0 0 6rem 0.8rem;
  position: relative;
}

.page-ul > li {
  @include type-style('body-long-02');
  padding-left: 0.25rem;
  list-style-type: none;

  &:before {
    content: '\2013';
    position: absolute;
    left: -1rem;
  }
}

.page-ol {
  margin-bottom: 1.5rem;
}

.page-ol > li {
  @include type-style('body-long-02');
  padding-left: 0.25rem;
  padding-bottom: 1rem;
  list-style-type: decimal;
}

.background--inverse .page-ul > li,
.background--inverse .page-ol > li {
  color: $ibm-colors__gray-10;
}

//----------------------------
// Blockquote
//----------------------------

blockquote:first-child {
  position: relative;
  margin-top: 2rem;

  @include breakpoint('lg') {
    margin-top: -6px;
  }

  &:before {
    content: '';
    display: block;
    width: 20%;
    height: 1px;
    background: $ibm-colors__gray-40;
    position: absolute;
    top: -24px;
    left: 0;

    @include breakpoint('lg') {
      width: 35%;
      top: -24px;
      left: -1rem;
    }
  }
}

blockquote .page-p {
  @include type-style('body-long-02');
  font-family: 'IBM Plex Sans', 'ibm-plex-sans', 'Helvetica Neue', Arial,
    sans-serif;
  padding-bottom: 1rem;
}

blockquote em {
  font-style: italic;
}

.background--inverse blockquote .page-p {
  color: $ibm-colors__gray-40;
}

.background--gray-80 blockquote .page-p {
  color: $ibm-colors__gray-10;
}

.background .ibm--col-lg-9 blockquote .page-p,
.background .ibm--col-lg-8 blockquote .page-p,
.background .ibm--col-lg-7 blockquote .page-p,
.background .ibm--col-lg-6 blockquote .page-p {
  @include type-style('heading-03');
  padding-top: 0;
  padding-left: 2rem;
  padding-bottom: 1rem;
  margin-left: 0;
  color: $ibm-colors__blue-60;
}

//----------------------------
// HR
//----------------------------
hr {
  border: none;
  border-top: 1px solid $ibm-colors__gray-50;
  margin-top: -1rem;

  @include breakpoint('md') {
    margin-top: -2rem;
  }
}

.background--black blockquote hr,
.background--gray-100 blockquote hr {
  border-color: $ibm-colors__gray-10;
}
