.ibm--carousel {
  width: 100%;
}

.ibm--carousel-slide-wrapper {
  overflow: hidden;
  margin-bottom: rem(16px);
  position: relative;
}

.ibm--carousel-slide {
  position: relative;
  white-space: nowrap;

  & img {
    height: auto;
    width: 100%;
    display: inline;
    transition: transform 700ms cubic-bezier(0.5, 0, 0.1, 1);
  }
}

//Radio button nav
.ibm--carousel-nav-wrapper {
  display: flex;
}

.ibm--carousel-nav-wrapper
  .bx--radio-button:focus
  + .bx--radio-button__label
  .bx--radio-button__appearance {
  box-shadow: 0 0 0 2px $brand-01;
}

.ibm--carousel-nav-wrapper
  .bx--radio-button
  + .bx--radio-button__label
  .bx--radio-button__appearance {
  background-color: $ibm-colors__gray--80;
  border: none;
  height: 0.5rem;
  width: 0.5rem;

  &:hover {
    background-color: $ibm-colors__gray--10;
  }
}

.ibm--carousel-nav-wrapper
  .bx--radio-button:checked
  + .bx--radio-button__label
  .bx--radio-button__appearance {
  background-color: $ibm-colors__gray--50;
}

.ibm--carousel-nav-wrapper
  .bx--radio-button:checked
  + .bx--radio-button__label
  .bx--radio-button__appearance:before {
  display: none;
}
