
//----------------------------
// Background
//----------------------------
.background {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.background--white {
  background: $ibm-colors__white;
}

.background--gray {
  background: $ibm-colors__gray--20;
}

.background--black {
  background: $ibm-colors__black;
  color: $ibm-colors__white;
}
